{% extends 'layout.html' %}

{% block content %}

    <ul>
    {% if pizza.id + 1 < 9%}
        <li><p><a href="/pizza/{{pizza.id + 1}}">Next Pizza</a></p></li>
    {% endif %}

    {% if pizza.id + 1 <= 9 and pizza.id - 1 != 0%}
        <li><p><a href="/pizza/{{pizza.id - 1}}">Previous Pizza</a></p></li>
    {% endif %}
    </ul>

    <p>You picked: Pizza No. {{pizza.id}}</p>
    <h1>{{pizza.name}}</h1>
    <p>{{pizza.description}}</p>
    <div class = "img-container">
        <img class = "img-cropped" src = "{{pizza.photo}}" alt="{{pizza.photo}}"/>
    </div>
    <p>{{pizza.base.name}} - {{pizza.base.description}}</p>
    
    {% if pizza.base.gf %}
        <h1>ITS GLUTEN FREE!!!!</h1>
    {% endif %}
   
    {% if pizza.base.vege %}
        <h1>ITS VEGETARIAN!!!!</h1>
    {% endif %}

    {% if pizza.base.vegan %}
        <h1>ITS VEGAN!!!!</h1>
    {% endif %}

{% endblock %}