{% extends 'layout.html' %}

{% block content %}

    <ul>
    {% if pizza.id + 1 < 9%}
        <li><p><a href="/pizza/{{pizza.id + 1}}">Next Pizza</a></p></li>
    {% endif %}

    {% if pizza.id + 1 <= 9 and pizza.id - 1 != 0%}
        <li><p><a href="/pizza/{{pizza.id - 1}}">Previous Pizza</a></p></li>
    {% endif %}
    </ul>

    <p>You picked: Pizza No. {{pizza.id}}</p>
    <h1>{{pizza.name}}</h1>
    <p>{{pizza.description}}</p>
    <img src = "{{pizza.photo}}" alt="{{pizza.photo}}"/>

{% endblock %}